<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jsl.oa.mapper.ProjectMapper">
    <update id="projectEdit">
        update organize_oa.oa_project
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
            <if test="principal_id != null and principal_id != ''">
                principal_id = #{principal_id},
            </if>
            <if test="tags != null and tags != ''">
                tags = #{tags},
            </if>
            <if test="cycle != null and cycle != ''">
                cycle = #{cycle},
            </if>
            <if test="file != null and file != ''">
                file = #{file},
            </if>
            <if test="begin_time != null and begin_time != ''">
                begin_time = #{begin_time},
            </if>
            <if test="complete_time != null and complete_time != ''">
                complete_time = #{complete_time},
            </if>
            <if test="deadline != null and deadline != ''">
                deadline = #{deadline},
            </if>
            <if test="status != null and status != ''">
                status = #{status},
            </if>
            <if test="is_finish != null and is_finish != ''">
                is_finish = #{is_finish},
            </if>
            <if test="is_delete != null and is_delete != ''">
                is_delete = #{is_delete},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="getByTags" resultType="com.jsl.oa.model.doData.ProjectDO">
        select * from organize_oa.oa_project where is_delete=false and principal_id=#{userId} and json_extract(tags,'$.tags') like concat
        <foreach collection="tags" item="tag" separator=",'%') or json_extract(tags,'$.tags') like concat('%',"
                 open="('%," close=",'%')">
            #{tag}
        </foreach>
    </select>

    <select id="workgetByTags" resultType="com.jsl.oa.model.doData.ProjectWorkDO">
        select * from organize_oa.oa_project_work where is_delete=false and principal_id=#{userId} and json_extract(tags,'$.tags') like concat
        <foreach collection="tags" item="tag" separator=",'%') or json_extract(tags,'$.tags') like concat('%',"
                 open="('%'," close=",'%')">
            #{tag}
        </foreach>
    </select>

    <select id="tget" resultType="com.jsl.oa.model.doData.ProjectDO">
        select * from organize_oa.oa_project where is_delete=false
        <if test="id != null">
            and id=#{id}
        </if>
    </select>

    <select id="tgetByTags" resultType="com.jsl.oa.model.doData.ProjectDO">
        select * from organize_oa.oa_project where is_delete=false and json_extract(tags,'$.tags') like concat
        <foreach collection="tags" item="tag" separator=",'%') or json_extract(tags,'$.tags') like concat('%',"
                 open="('%'," close=",'%')">
            #{tag}
        </foreach>
    </select>

</mapper>