<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jsl.oa.mapper.ReviewMapper">
    <insert id="addReview" >
        INSERT INTO organize_oa.oa_review
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">
                name,
            </if>
            <if test="content != null and content != ''">
                content,
            </if>
            <if test="senderId != null">
                sender_id,
            </if>
            <if test="recipientId != null">
                recipient_id,
            </if>
            <if test="category != null">
                category,
            </if>
            <if test="projectId != null">
                project_id,
            </if>
            <if test="projectChildId != null">
                project_child_id,
            </if>
            <if test="projectModuleId != null">
                project_module_id,
            </if>
            <if test="applicationTime != null">
                application_time,
            </if>
            <if test="reviewTime != null">
                review_time,
            </if>
            <if test="reviewResult != null">
                review_result,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">
                #{name},
            </if>
            <if test="content != null and content != ''">
                #{content},
            </if>
            <if test="senderId != null">
                #{senderId},
            </if>
            <if test="recipientId != null">
                #{recipientId},
            </if>
            <if test="category != null">
                #{category},
            </if>
            <if test="projectId != null">
                #{projectId},
            </if>
            <if test="projectChildId != null">
                #{projectChildId},
            </if>
            <if test="projectModuleId != null">
                #{projectModuleId},
            </if>
            <if test="applicationTime != null">
                #{applicationTime},
            </if>
            <if test="reviewTime != null">
                #{reviewTime},
            </if>
            <if test="reviewResult != null">
                #{reviewResult},
            </if>
            <if test="isDelete != null">
                #{isDelete},
            </if>
        </trim>
    </insert>


    <update id="updateReview" parameterType="com.jsl.oa.model.dodata.ReviewDO">
        update organize_oa.oa_review
        <trim prefix="SET" suffixOverrides=",">
                <if test="name != null and name != ''">
                    name = #{name},
                </if>

                <if test="content != null and content != ''">
                    content = #{content},
                </if>

                <if test="senderId != null">
                    sender_id = #{senderId},
                </if>

                <if test="recipientId != null">
                    recipient_id = #{recipientId},
                </if>

                <if test="category != null">
                    category = #{category},
                </if>

                <if test="projectId != null">
                    project_id = #{projectId},
                </if>

                <if test="projectChildId != null">
                    project_child_id = #{projectChildId},
                </if>

                <if test="projectModuleId != null">
                    project_module_id = #{projectModuleId},
                </if>

                <if test="applicationTime != null">
                    application_time = #{applicationTime},
                </if>

                <if test="reviewTime != null">
                    review_time = #{reviewTime},
                </if>

                <if test="reviewResult != null">
                    review_result = #{reviewResult},
                </if>

                <if test="isDelete != null">
                    is_delete = #{isDelete},
                </if>
        </trim>
        where id = #{id}
    </update>




</mapper>